.chat-username {
    margin:20px;
    margin-right: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.chat-me {
    color: rgb(57, 206, 252);
    text-shadow: 0 10px 50px 0 rgba(9, 58, 138, 0.5);
}

.chat-opponent {
    color: red;
}

.chat-message {
    margin-bottom: 20px;
    margin-top: 20px;
    word-break: break-all;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.chat-li {
    display: flex;
    flex-direction: row;
    margin: 0;
}

#chat-window {
    padding: 20px;
    border: 0.1rem solid black;
    margin: 0 auto;
    overflow: auto;
    height: 350px;
    background-color: rgb(0, 0, 0);
}

#chat {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    background-color: rgb(4, 12, 26);
}

#chatInput {
    text-align: center;
    border: 0.1rem solid rgb(59, 59, 59);
    background-color: black;
    color: white;
    width: 70%;
    height: 35px;
    font-family: 'Roboto Condensed', sans-serif;
}

#chat-label {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

#chat-form > fieldset {
    border: none;
}

@media screen and (min-width: 1025px) {
    #chat {
        width: 60%;
    }

    .chat-username,
    .chat-message,
    .chat-opponent,
    .chat-me {
        font-size: 1.5rem;
    }

    #chatInput {
        height: 40px;
        
    }

    #chat-window {
        height: 430px;
    }
}

@media screen and (min-width: 1300px) {
    #chat {
        width: 23%;
        position: absolute;
        top: 235px;
        z-index: 1;
    }

    li.chat-li {
        padding:0px;

    }

    .chat-message {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .chat-username {
        margin: 5px;
    }

    #chat-form > fieldset {
        border: none;
        font-size: 1.2rem;
    }

    #chat-form > fieldset > input {
        font-size: 1rem;
    }

    .chat-username,
    .chat-message,
    .chat-opponent,
    .chat-me {
        font-size: 1rem;
    }
        
    #chat-window {
    height: 400px;
    padding: 5px;
    }
    .outer {
        position: relative;
        overflow: hidden;
    }
    .grid-box.one-only{
        position: relative;
        left: 0px;
    }
    .grid-box{
        position: relative;
        left: 140px;
        z-index: 1; 
    }
}

@media screen and (min-width: 1750px) {
    #chat {
        width: 30%;
    }

    .grid-box {
        left: 200px;
    }
}
