Button {
  font-size: 1.5rem;
  margin: 10px;
  color: black;
  background-color: rgba(171, 208, 245, 0.7);
  padding: 0.7rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  border-radius: 0.5rem;
  transition-duration: 0.3s;
}

button a {
  text-decoration: none;
  color: black;
}

button a:hover,
button:hover {
  color: white;
  background-color:rgba(9, 58, 138, 0.7);
  box-shadow: 0 10px 50px 0 rgba(9, 58, 138, 0.5);
}
