.cell {
  height: 1rem;
  width: 1rem;
  background-color: grey;
  margin: 2px;
  font-size: 0.5rem;
}

#label {
  background-color: rgb(43, 162, 236);
}

.selected {
  background-color: red;
}

.hit {
  background-color: lightgreen
}

.miss {
  background-color: black;
}

.ship{
  height: 1rem;
  width: 1rem;
  margin: 2px;
  font-size: 0.5rem;
  background-color: blue;
}
