.cell {
  width: 90%;
  height: 10%;
  background-color:blue ;
  margin: 2px;
  font-size: 1rem;
  color: white;
  font-weight:bolder;
}

.label {
  background-color: rgb(43, 162, 236, 0.5);
}

.selected {
  background-color: red;
}

.hit {
  background-color: lightgreen
}

.miss {
  background-color: black;
}

.ship{
    background-color: grey;
}

.shot {
  background-color: white;
}

.ship-shot {
  background-color: red;
}

@media screen and (min-width: 1025px) {
  .cell {
    height: 12%;
    width: 97%;
    font-size: 1.2rem;
  }
}
