.helpIB ul {
  list-style-type: none;
  display: inline;
}

.help {
  margin-top: 8rem;
}

.help h1 {
  margin-bottom: 2rem;
}

li {
  font-size: 1.3rem;
  display: block;
}

.helpIB {
  border: 0.1rem solid white;
  padding-bottom: 2.2rem;
  margin-bottom: 2rem !important;
  width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: rgb(30, 52, 90);
}

@media screen and (min-width: 900px) {
  .helpIB {
    width: 80%;
  }
}

@media screen and (min-width: 1025px) {
  .helpIB {
    width: 65%;
  }
}

