.key {
  width: 100%;
  border-radius: 2px;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  flex-wrap: wrap;
}

.key > div {
  width: 80%;
  display:flex;
  word-wrap: break-word;
  justify-content: flex-start;
  align-items:center;
}

.key > div > .cell {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.key p {
  font-size: 0.9rem;
}

.helpIB ul {
  list-style-type: none;
  display: inline;
}

.help {
  margin-top: 2rem;
}

.help h1 {
  margin-bottom: 2rem;
}

li {
  font-size: 1.3rem;
  display: block;
}

ol {
  padding: 0 20px;
}

.li-indent {
  padding-left: 20px;
  margin-bottom: 10px;
}

.ul-list-styling {
  padding-left: 50px;
}

.left-h3 {
  color: rgb(123, 235, 255);
}

.long-string-style {
  width: 57%;
  margin:0;
  text-align: left;
}


#instructions-help, ol, .li-left-align {
  text-align: left;
}

.helpIB {
  border: 0.1rem solid white;
  padding-bottom: 2.2rem;
  margin-bottom: 2rem !important;
  width: 90%;
  margin: 0 auto;
  border-radius: 1rem;
  background-color: rgb(30, 52, 90);
}

@media screen and (min-width: 700px) {
  .helpIB {
    padding: 0
  }
}

@media screen and (min-width: 900px) {
  .helpIB {
    width: 75%;
  }
}

@media screen and (min-width: 1025px) {
  .helpIB {
    width: 65%;
    padding: 2rem;
  }

  .help h2 {
    margin: 0;
  }

  .left-h3 {
    text-align: left;
  }

  .key {
    display: flex;
    flex-direction: row;
  }
  
  .key > div {
    width: 50%;
    display:flex;
    word-wrap: break-word;
    justify-content: flex-start;
    align-items:center;
  }
}
