.gameGrid{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    margin: auto;
}

.column {
    margin:1px;
    width: 9.03%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.column > div {
    margin-top: 2px;
}

#letter-dropdown,
#number-dropdown {
    color: white;
    font-size: 0.98rem;
}

.UserContainer h2, .UserContainer p {
    /* display: block; */
    font-size: 1.3rem;
    margin: 5px;
}

@media screen and (min-width: 400px) {
    .gameGrid {
        height: 400px;
        width: 95%;
    }

    .target {
        width: 95%;
    }
}

@media screen and (min-width: 500px) {
    .gameGrid {
        height: 400px;
        width: 90%;
    }

    .target {
        width: 90%;
    }
}

@media screen and (min-width: 600px) {
    .gameGrid {
        height: 450px;
        width: 85%;
    }

    .target {
        width: 85%;
    }
}

@media screen and (min-width: 700px) {
    .gameGrid {
        height: 300px;
        width: 100%;
    }

    .target {
        width: 100%;
    }

    .cell{
        height: 9%;
        width: 95%;
    }
}

@media screen and (min-width: 800px) {
    .gameGrid {
        width: 95%;
    }

    .target {
        width: 95%;
    }
}

@media screen and (min-width: 1024px) {
    #letter-dropdown,
    #number-dropdown {
    color: white;
    font-size: 1rem;
    }
}

@media screen and (min-width: 1025px) {
    #letter-dropdown,
    #number-dropdown {
    color: white;
    font-size: 1rem;
    }
}

@media screen and (min-width: 1050px) {
    .gameGrid {
        width: 85%;
    }

    .target {
        width: 85%;
    }
}

@media screen and (min-width: 1300px) {
    .gameGrid {
        width: 70%;
    }

    .target {
        width: 70%;
    }
}

@media screen and (min-width: 1420px) {
    .gameGrid {
        width: 60%;
    }

    .target {
        width: 60%;
    }

    .cell{
        height: 9%;
        width: 98%;
    }
}

@media screen and (min-width: 1740px) {
    .gameGrid {
        width: 50%;
    }

    .target {
        width: 50%;
    }
}
