.game-history-list {
    border: 0.1rem solid white; 
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 1rem;
    background-color: rgb(30, 52, 90);
}

.gameHistory h1 {
    margin-bottom: 2rem;
}

.gameHistory {
    margin-top: 8rem;
}

.game-history-li {
    display: flex;
    border-bottom: 1px solid white;
    width: 80%;
    margin: 0 auto;
}

.game-history-region {
    width: 50%;
    /* text-align: left; */
    /* border:1px solid red; */
}

.player-Win {
    color: greenyellow;
    font-weight: bold;
}

.player-Loss {
    color: #FF0100;
    font-weight: bold;
}

.historyWelcome {
    font-size: 1.5rem;
    text-align: left;
    margin-left: 1rem;
    margin-top: 8.3rem;
    margin-bottom: 2rem;
}

@media screen and (min-width: 900px) {
    .game-history-list {
        width: 75%;
    }
}

@media screen and (min-width: 1025px) {
    .game-history-list {
        width: 65%;
    }

    .gameHistory {
        margin-top: 9rem;
    }

    .historyWelcome {
        margin-bottom: 3rem;
    }
}
