header {
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

header Button {
  width: 100%;
  margin: 0 auto;
}


.titleBar {
  display: block;
}

.navButtons {
  display:block;
}