header {
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

header Button {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(162, 188, 214);
  margin-top: 4.5rem;
  border-radius: 0;
  border: 0;
  transition-duration: 0.3s;
}

header Button:hover {
  background-color:rgb(16, 43, 86);
}
