.stats {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  border-radius: 1rem;
  background-color: rgb(30, 52, 90);
  border: 0.1rem solid white; 
  padding-top: 1rem;
}

.stat-box {
  width: 30%;
  text-align: center;
}

.stat-box h4 {
  font-size: 1.3rem;
  display: inline;
}

.stat-box p {
  font-size: 1.3rem;
}

.startGames a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.5rem;
}

.d-button {
  padding: 2rem;
}

.dashboardWelcome {
  font-size: 1.5rem;
  text-align: left;
  margin-left: 1rem;
}

.dash-h3 {
  font-style: oblique;
}

.activeGames, .activeGameDetails {
  list-style: none;
  padding: 0;
}

.activeGames {
  border: 0.1rem solid white; 
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 1rem;
  background-color: rgb(30, 52, 90);
}

.activeGames >li {
  font-weight: bold;
}

h2 > span.username {
  color: rgb(57, 206, 252);
}

@media screen and (min-width: 900px) {
  .activeGames,
  .stats {
    width: 75%;
  }
}

@media screen and (min-width: 1025px) {
  .activeGames {
    width: 65%;
  }

  .stats {
    width: 40%;
  }

  .dash-h3 {
    font-size: 3rem;
  }

  .dashboardWelcome {
    font-size: 1.6rem;
  }

  .startGames h4 {
    font-size: 1.6rem;
  }

  .stat-box h4 {
    font-size: 1.6rem;
  }

  .stat-box p {
    font-size: 1.6rem;
  }

  Footer {
    margin-bottom: 2rem;
  }
}
