.stats {
  margin-top: 5rem;
}

.d-button {
  padding: 2rem;
}

.dashboardWelcome {
  font-size: 1.6rem;
  text-align: left;
  margin-top: 8rem;
}

.activeGames, .activeGameDetails {
  list-style: none;
  padding: 0px;
}

.activeGames {
  border: 0.1rem solid black; 
  width: 80%;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

.activeGames >li {
  font-weight: bold;
}

@media screen and (min-width: 900px) {
  .activeGames {
    width: 70%;
  }
}

@media screen and (min-width: 1025px) {
  .activeGames {
    width: 60%;
  }
}