.message {
  color: red;
}

.errorMessage {
  color: red;
  font-size: 1.5rem;
  margin-top: 150px;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}

p {
  font-size: 1.2rem;
}

.grid {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.gameroom {
  margin-top: 9rem;
}

.versusHeader{
  font-size: 1.5rem;
  margin-bottom: 0px;
}
.versus {
  color: grey;
}

.opponentContainer, .userContainer {
  margin: 20px;
}

.progress {
  /* margin: 10px; */
  width: 100%;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  border-radius: 3px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 0px;
  /* padding: 10px; */
}

.progress >h4 {
  margin:5px;
  text-decoration: underline;
}
.shipCounter{
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.shipCounter > li{
  /* display: inline-block; */
  margin: 3px;
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.shipCounter > li::before {
  content: '  >>  ';
  color: red;
}

@media screen and (min-width: 700px) {
  .grid {
    width: 45%;
  }
  .grid-box {
    display:flex;
  }

  .shipCounter > li{
    display: inline-block;
  }

  .OpponentContainer.grid, .UserContainer.grid {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 700px) {
  .grid {
    border-bottom: none;
  }
}
