.message {
  color: red;
}

.errorMessage {
  color: red;
}

p {
  font-size: 1.2rem;
}

.grid {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.gameroom {
  margin-top: 10rem;
}

@media screen and (min-width: 350px) {
  .grid{
    width: 90.2%;
  }
}

@media screen and (min-width: 370px) {
  .grid {
    width: 90%;
  }
}

@media screen and (min-width: 500px) {
  .grid {
    width: 78%;
  }
}

@media screen and (min-width: 550px) {
  .grid {
    width: 78%;
  }
}

@media screen and (min-width: 700px) {
  .grid {
    width: 76%;
  }
}

@media screen and (min-width: 1024px) {
  .grid {
    width: 75%;
  }
}

@media screen and (min-width: 1025px) {
  .grid-box {
    display: flex;
    justify-content: center;
  }

  .grid {
    width: 34%;
    margin: 0 1rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
}
