* {
  text-align: center;
  font-family: 'Sansita', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(5, 21, 46);
  color: white;
}

h1 {
  font-size: 3rem;
  font-style: oblique;
  margin: 0;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}
