.banner {
  background-image: url('../../Img/deep-ocean.jpg');
  background-position: right top;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.banner h1 {
  text-shadow: 0 1px 0 #ccc,
              0 2px 0 #b9b8b8,
              0 3px 0 rgb(124, 123, 123),
              0 4px 0 #1b1b1b,
              0 5px 0 rgb(143, 142, 142),
              0 6px 1px rgba(0,0,0,.1),
              0 0 5px rgba(0,0,0,.1),
              0 1px 3px rgba(0,0,0,.3),
              0 3px 5px rgba(0,0,0,.2),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.2),
              0 20px 20px rgba(0,0,0,.15);
  margin-bottom: 1rem;
  font-family: 'Candal', sans-serif;
}

@media screen and (min-width: 700px) {
  .banner {
    background-position: right top;
  }
}

@media screen and (min-width: 1025px) {
  .banner {
    background-position: center top;
    justify-content: flex-start;
  }

  .banner h1 {
    margin-left: 1rem;
  }
}