.banner {
  background-image: url('../../Img/deep-ocean.jpg');
  background-position: right top;
  color: white;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.banner h1 {
  -webkit-text-stroke: 0.7px rgb(168, 164, 164);
  text-shadow: 0 10px 50px 0 rgba(168, 164, 164, 0.5);
}

@media screen and (min-width: 600px) {
  .banner {
    background-position: left top;
  }
}

@media screen and (min-width: 1025px) {
  .banner {
    background-position: left top;
  }
}